In [1]:
language = 'python'

In [5]:
lang = list (language)

In [6]:
lang

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
nums = [1, 2, 3, 4, 5,6, 7, 8, 9, 10]

In [18]:
# tuple - orerderd nd imutable 
EAC = ('Keneya', 'uganda''tanzania')

In [3]:
type(EAC)

NameError: name 'EAC' is not defined

In [ ]:
age = (18,19.20,21,22.23,24,25,26,27,28,29,30)

In [1]:
square_1={1:1, 2:4, 3:9, 4:16, 5:25,}

In [2]:
square_1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
import pandas as pd 
s_df = pd.DataFrame(square_1,index=[2])

In [5]:
s_df

   1  2  3   4   5
2  1  4  9  16  25

In [6]:
s_2=[square_1]
s_2

[{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}]

In [7]:
type(s_2)

list

In [8]:
square_1.keys()

dict_keys([1, 2, 3, 4, 5])

In [10]:
square_1[4]

16

In [ ]:
s_2=[square_1]

In [ ]:
[]pip install requests

In [15]:
import requests as rq
api='https://api.coinbase.com/v2/prices/eth-USD/spot'
response = rq.get(api)
response
data = response.json()
data

{'data': {'amount': '4168.305', 'base': 'ETH', 'currency': 'USD'}}

In [16]:
data.keys()

dict_keys(['data'])

In [21]:
data.values()

dict_values([{'amount': '4168.305', 'base': 'ETH', 'currency': 'USD'}])

In [19]:
import pandas as pd
df = pd.DataFrame(data)
df

              data
amount    4168.305
base           ETH
currency       USD

In [22]:
data

{'data': {'amount': '4168.305', 'base': 'ETH', 'currency': 'USD'}}

In [23]:
type(data)

dict

In [24]:
data.values()

dict_values([{'amount': '4168.305', 'base': 'ETH', 'currency': 'USD'}])

In [26]:
data['data']['amount']

'4168.305'

In [29]:
data['data']['base']

'ETH'

In [ ]:
eth_data ={
    'coin_price':data['data']['amount']
    'coin'}

In [ ]:
nums = [1, 2, 3, 4, 5,6, 7, 8, 9, 10]

In [39]:
v = {key exp: value exp for item in iterable }
v = {key exp: value exp for item in iterable if condition}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2616489260.py, line 1)

In [41]:
 square_id = {num: num*num for num in nums if num > 6}
square_id

{7: 49, 8: 64, 9: 81, 10: 100}