In [2]:
age = input("Enter your age: ")
age = int(age)
age

20

In [ ]:
x=10
y=5
sum = x + y
print("The sum of", x, "and", y, "is", sum)

The sum of 10 and 5 is 15

In [6]:

2ndName = "John"
print(2ndName)

SyntaxError: invalid decimal literal (1170923759.py, line 1)

In [7]:
greetings = "Hello, World!"
print(greetings)

Hello, World!

In [8]:
print(type(42))
print(type(3.14))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'str'>

In [9]:
num_str = '100'
num_int = int(num_str)
print(num_int)
print(type(num_int))

100
<class 'int'>

In [10]:
result = 5 + 2.5

print(result)

7.5

In [11]:
text = 'hello '
result = text * 3
print(result)

hello hello hello

In [14]:

num1_str = input("Enter the first number:1 ")
num2_str = input("Enter the second number:2 ")

print("You entered:", num1_str, "and", num2_str)

You entered:  and

In [15]:
text = "SQL "
result = text * 3
print(result)

SQL SQL SQL

In [39]:
age = 74
if age > 18:
    print("You can join the regular members")
elif age < 18:
    print("You can join the junior members")
elif age>35 > and 80
    print("You can join the vvip memebers")
else:
    print("You cannot join the event")

SyntaxError: invalid syntax (4074337790.py, line 6)

In [40]:
nums = [1, 2, 3, 4, 5,6,7,8,9,10]

In [45]:
for num in nums:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [46]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [47]:
for salary in salaries:
    increment = salary *1.2
    print(increment)

1200.0
2400.0
3600.0
4800.0
6000.0

In [48]:
fruits=['mango', 'banana', 'orange', 'aPPle']

In [51]:
fruitz=[]

In [ ]:
for fruit in fruits :
    fruity = fruit.capatalize()
    fruitz.append(fruity)
    print(fruity)

AttributeError: 'str' object has no attribute 'capatalize'

In [15]:
num = 6
while num <= 10:
    print(num, end=' ')
    num += 1

6 7 8 9 10

In [16]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
for num in nums:
    if num == 1:
    break 
    print(num, end="")

IndentationError: expected an indented block after 'if' statement on line 2 (2575962397.py, line 3)

2345678910

In [20]:
for num in nums:
    if num == 6:
        continue
    print(num, end="")

1234578910

In [21]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for num in nums:
    print(num)
else:
    print("Loop completed without interruption.")

1
2
3
4
5
6
7
8
9
10
Loop completed without interruption.

In [ ]:
def fuc_name():
    print("This is a function with no parameters.")

In [23]:
def salary_rise():
    salaries = [1000, 2000, 3000, 4000, 5000]
    for salary in salaries:
        increment = salary * 1.2
        print(increment)

In [24]:
salary_rise()

1200.0
2400.0
3600.0
4800.0
6000.0

In [25]:
def salary_rise(salaries):
    for salary in salaries:
        increment = salary * 1.2
        print(increment)

In [27]:
salary_rise(salaries):

SyntaxError: invalid syntax (4236574247.py, line 1)

In [1]:
#Use a for loop to print numbers from 1 to 10.
for num in range (1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
#Use a while loop to print numbers until the user enters stop.
count = 1
while True:
    user_input = input("Type 'stop' to end or press to continue : ")
    if user_input.lower() == 'stop':
        break 
    print(count)
    count += 1

1

In [3]:
#Write a loop that prints even numbers from 1 to 20.
for num in range (1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Explain what break and continue do in your own words.
break = exit the loop entirely.
continue = skip this iteration, keep looping.

In [ ]:
import random

secret_number = random.randint(1, 10)

while True:
    guess = input("Guess the secret number between 1 and 10: ")
    
    if not guess.isdigit():
        print("Please enter a valid number.")
        continue

    guess = int(guess)

    if guess == secret_number:
        print("ðŸŽ‰ Correct! You guessed the secret number.")
        break
    else:
        print("âŒ Nope, try again.")9

âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
Please enter a valid number.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
âŒ Nope, try again.
ðŸŽ‰ Correct! You guessed the secret number.

In [9]:
import random
guess = int(input("Guess a number between 1 and 10: "))
if guess == secret_number:
    print("Congratulations! You guessed the secret number.")
elif guess < secret_number:
    print("Too low! The secret number was", secret_number)
else:
    print("Too high! The secret number was", secret_number)

Too low! The secret number was 7